.user-img{
    margin-top: -75px;
    margin-bottom: 25px;
}

.user-img img{
    width: 100px;
    height: 100px;
}

.modal-content{
    background-color: royalblue;
    opacity: .55px;
    padding: 0 20px;
}
.cuadro-central{
    margin:0 auto;
    margin-top: 25%;
    padding: 0;
}